<div class="languageSelector native">
  <% if (page.pathname == "index" || page.pathname == ".") page.pathname = "" %>
  <% let locales = page.locales %>
  <% if (locales.length) { %>
    <select data-page="/<%= page.pathname %>">
  <% } %>
  <% for (let locale of locales) { %>
    <% if (locale != page.locale) { %>
      <option value="<%= locale %>"><%= locale %></option>
    <% } else { %>
      <option value="<%= locale %>" selected><%= locale %></option>
    <% } %>
  <% } %>
  <% if (locales.length) { %>
    </select>
  <% } %>
  <label class="icon text-arrow">
    <span><%= page.locale %></span>
  </label>
</div>

<% include noscript %>