<div class="languageSelector native">
  <% if (currentPage == "index" || currentPage == ".") currentPage = "" %>
  <% let pageLocales = getPageLocales() %>
  <% if (pageLocales.length) { %>
    <select data-page="/<%= currentPage %>">
  <% } %>
  <% for (let pageLocale of pageLocales) { %>
    <% if (pageLocale != currentLocale) { %>
      <option value="<%= pageLocale %>"><%= pageLocale %></option>
    <% } else { %>
      <option value="<%= pageLocale %>" selected><%= pageLocale %></option>
    <% } %>
  <% } %>
  <% if (pageLocales.length) { %>
    </select>
  <% } %>
  <label class="icon text-arrow">
    <span><%= currentLocale %></span>
  </label>
</div>

<% include noscript %>