<!DOCTYPE html>
<html lang="<%= currentLocale %>">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/header %>
<main class="device">
  <div class="col5">
    <!-- Navigation Start -->
    <%if (page.showDocNav) { %> 
      <aside id="sitemap" class="cell1 tablet-hide">
        <% let documentation = getSitemap("documentation"); %>
        <%if (documentation) { %>
          <% include partials/docNav %>
        <% } %>
      </aside>
    <% } %>
    <!-- Navigation End -->

    <article class="cell2-4">
      <h1>{title}
        <span>
          <% if (page.showEdit) {%>
            <a href="<%= site.github %>/tree/master/pages/<%= currentPage %>.md"
               class="icon edit" target="_blank" title="Edit page"></a>
          <% } %>
          <% if (page.showTranslate) {%>
            <a href="<%= site.crowdin %>" class="icon translate" target="_blank"
               title="Translate"></a>
          <% } %>
        </span>
      </h1>
      <%- body %>
    </article>

    <!-- TOC Start -->
    <%if (page.showTOC) { %>
      <aside id="toc" class="cell5 center tablet-hide">
        <h2>{toc-sidebar-header(common)}</h2>
        <%- include('partials/toc', {items: toc.children}) %>
      </aside>
    <% } %>
    <!-- TOC End -->
  </div>
</main>
  <% include partials/footer %>
</body>
</html>
