<div id="edit-page">
  <% if (page.showEdit) {%>
    <a href="<%= site.github %>/edit/master/pages/<%= page.showEdit %>"
        class="icon edit" target="_blank" title="Edit page"></a>
  <% } %>
  <% if (page.showTranslate) {%>
    <div class="contextMenu">
      <button class="icon translate" title="Translate page"></button>
      <ul>
        <% for (let locale in site.localeMap) { %>
          <% if (locale != site.defaultLocale) {%>
            <li>
              <% const localeMap = site.localeMap[locale]; %>
              <a href="<%= site.crowdin %>/<%= page.showTranslate %>/<%= localeMap.crowdin %>"
                 target="_blank">
              <%= localeMap.name %>
              </a>
            </li>
          <% } %>
        <% } %>
      </ul>
    </div>
  <% } %>
</div>
