<title><%= site.title %> | {title[Page title] <%= page.title %>}</title>
<meta property="og:title" content="<%= site.title %> | {title}">
<meta name="twitter:title" content="<%= site.title %> | {title}">
<meta content="{description[Page description] <%- page.description %>}" name="description">
<meta content="{description}" property="og:description">
<meta name="twitter:description" content="{description}">

<meta charset="UTF-8">
<meta property="og:image" content="https://cmints.io/images/promo-alternate.png">
<meta name="twitter:image" content="https://cmints.io/images/promo-alternate.png">
<meta property="og:url" content="https://<%= site.domain %>/<%= currentLocale %>/<%= currentPage %>">
<meta property="og:type" content="website">
<meta name="viewport" content="width=device-width, initial-scale=1">

<% if (page.noindex) { %>
  <meta name="robots" content="noindex">
<% } %>

<!-- i18n  -->
<% for (const locale of getPageLocales()) { %>
  <% const localeRegion = site.localeMap[locale] ? site.localeMap[locale].region : locale; %>
  <% if (locale == currentLocale) { %>
    <meta property="og:locale" content="<%= localeRegion %>" />
    <link rel="canonical" href="https://<%= site.domain %>/<%= currentPage %>">
  <% } else { %>
    <meta property="og:locale:alternate" content="<%= localeRegion %>" />
    <link rel="alternate" href="https://<%= site.domain %>/<%= locale %>/<%= currentPage %>" hreflang="<%= locale %>" />
  <% } %>
<% } %>
