---
layout: home
title: CMS with the internationalization done right
description: CMintS is a CMS created with the internationalization in mind. Comprehensive i18n implementation, create themes using EJS templating engine and LESS, write content using Markdown and get TMS integration out of the box.
---
<section id="main">
  <div class="content device">
    <a href="/" class="cell1 end">
      <img id="logo" src="/images/logo.png">
    </a>
    <h2>CMS created with the internationalization in mind</h2>
    <p>
      <a <%-href("documentation")%> class="button">Get started</a>
    </p>
  </div>
</section>
<section id="features">
  <div class="content">
    <h1 class="project-name">Features</h1>
  </div>
  <div class="col4 cards device">
    <div>
      <h2>i18n</h2>
      <p>Comprehensive internationalization out of the box.</p>
      <a <%-href("documentation/i18n")%> class="button">Learn more</a>
    </div>
    <div>
      <h2>Theme</h2>
      <p>Start creating themes using EJS templating engine and LESS.</p>
      <a <%-href("documentation/themes")%> class="button">Learn more</a>
    </div>
    <div>
      <h2>Markdown</h2>
      <p>Get CommonMark out of the box to create content faster.</p>
      <a <%-href("documentation/pages")%> class="button">Learn more</a>
    </div>
    <div>
      <h2>TMS integration</h2>
      <p>Handy API to integrate your project with the Crowdin.</p>
      <a <%-href("documentation/i18n/crowdin")%> class="button">Learn more</a>
    </div>
  </div>
</section>
