<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<% include ../partials/head/meta %>
		<link rel="shortcut icon" href="<%= site.root %>/images/favicon.png">

		<link rel="stylesheet" href="<%= site.root %>/presentation/reveal/css/reveal.css">
		<link rel="stylesheet" href="<%= site.root %>/presentation/reveal/css/theme/white.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="<%= site.root %>/presentation/reveal/lib/css/zenburn.css">
		<link rel="stylesheet" href="<%= site.root %>/css/presentation.css">
		<% include ../partials/head/analytics %>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<%- page.body %>
				<% include index %>
			</div>
		</div>

		<script src="<%= site.root %>/presentation/reveal/lib/js/head.min.js"></script>
		<script src="<%= site.root %>/presentation/reveal/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '<%= site.root %>/presentation/reveal/plugin/markdown/marked.js' },
					{ src: '<%= site.root %>/presentation/reveal/plugin/markdown/markdown.js' },
					{ src: '<%= site.root %>/presentation/reveal/plugin/notes/notes.js', async: true },
					{ src: '<%= site.root %>/presentation/reveal/plugin/highlight/highlight.min.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
			Reveal.configure({ history: true, loop: true });
		</script>
		<script src="<%= site.root %>/js/presentation.js"></script>
	</body>
</html>
